<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../dist/css/style.css" />

        <title>Gamma photo App</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand em-text" href="index.html">Gamma</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExample09"
                    aria-controls="#navbarsExample09"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div>
                    continue
                </div>
            </div>
        </nav>
    </body>
</html>
