<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>it make sense to like this</title>
    </head>

    <body>
        <!-- comment inserted -->
        <button type="button" class="btn btn-primary">click me</button>
        <div>
            <h1>it seems we are getting somewhere</h1>
            <p>
                what a way to end what is going on
            </p>
        </div>
        <p>boy or boy</p>
        <div>
            <p>let us start seeing what is going on</p>
        </div>

        <div>
            <p>we have to see what is working</p>
            <p>what is happeningp></p>
            <p>it seems right</p>
        </div>
    </body>
</html>
